#name{
  font-family: 'Roboto', sans-serif; 
    font-size: 50px; 
    color: #4CAF50;
    text-align:center; 
    text-transform: uppercase; 
    letter-spacing: 5px; 
    margin: 20px 50px; 
    padding: 10px; 
    border: 3px solid #4CAF50; 
    border-radius: 11px; 
    background-color: #f9f9f9;
    transition: transform 0.3s ease, color 0.3s ease; 
  }
  
  #name:hover {
    color: #ffffff; 
    background-color: #4CAF50; 
    transform: scale(1.05); 
  }
header {
  width:100%;
    background-color: #ffffff;
}
.header__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

ul li a {
    font-family: 'Verdana', sans-serif; 
    font-size: 18px; 
    color: #333; 
    line-height: 1.8; 
    padding: 8px 16px; 
    margin: 5px 0; 
    list-style-type: disc;
    list-style-position: inside;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9; 
    transition: background-color 0.3s ease; 
  }
 
  li :hover {
  background-color: #1b7f3c; 
  cursor: pointer;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color:hsl(214, 44%, 87%);}
  .question {
    margin-bottom: 20px;
}
    video {
        max-width: 100%; 
        border: 5px solid black;
        border-radius: 15px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
    }
    img {
      display: grid;
      place-items: center;
      width: min(25rem, 90%);
      border-radius: 0%;
      box-shadow: 30px 10px 15px rgba(104, 126, 147, 0.96);}
    footer {
  background-color:white; 
  color: black; 
  padding: 20px 0; 
  text-align: center; 
  font-family: Arial, sans-serif; 
}
footer  image{
  width: 75%; 
  max-width: 75px; 
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  display: block; 
  margin: 20px auto; 
  transition: transform 0.3s ease; 
}

img:hover {
  transform: scale(1.1); 
}